* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-section {
  background-color: brown;
  pad: 10px 6px;
  color: white;
  font-size: 0.8rem;

}

.top-section-hero {
margin: auto 25px auto;
}

.top-section-hero, .logo-area, .signin-area {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 7px;
}

.bottom-section-hero {
  margin: 90px 25px 55px;
  width: 280px;
  text-align: left;
  padding-bottom: 70px;
}